<h1><%=@event.name%></h1>

<h2>Details of Event:</h2>
<h4>Location: <%# @event.location%></h4>
<h4>Date: <%# @event.date%></h4>


<h2>Minimum Requirements to Qualify:</h2>
<h4>Minimum Pace: <%=@event.min_pace%></h4>
<h4>Minimum Number of Practice Sessions: <%=@event.min_num_of_sessions%></h4>
<h4>Minimum Number of Miles Run: <%=@event.min_miles_run%></h4>